/* styles.css */
div.app{
  background-color: #FBFBF2;
}
header {
  width: 100%;
}
div.header-contents {
  display: flex;
  justify-content: space-between;
  background: #CFD2CD;
  padding: 20px;
  text-align: center;
  height: 42px;
  color: #847577;
  font-family: Dosis;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

.product-card {
  border-radius: 25px;
  margin: 20px;
  width: 225px ;
  height: 281px;
  background: #E5E6E4;
}

.product-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
div.product-image {
  margin: 10px;
  width: 206px;
  height: 206px;
}
img.image-rendered-corners{
  border-radius: 25px;
}
div.product-details {
  margin: 0 5px;
  color: #847577;
  font-family: Dosis;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: space-between;
}

/* New stuff */

div.header-child {
  display:flex;
  justify-content: space-evenly;
}
div.right-child {
  justify-content: flex-end;
}
div.menu-item {
  margin: 0 10px;
}
a.menu-item {
  text-decoration: none;
  color: #847577;
  font-family: Dosis;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

